.contact-heading {
    text-align: center;
    font-size: 80px;
    margin: 10px 0px 40px 0px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 80px;
    width: 800px;
    margin: 0 auto;
}

.contact-content p {
    font-size: 16px;
    line-height: 1.4;
}

.contact-subheading {
    margin-bottom: 10px;
}

.general-enquiries address {
    font-family: Montserrat;
    font-style: normal;
    margin-bottom: 10px;
}

.contact-type {
    font-weight: 600;
}

.contact-email {
    color: #006892;
}